@import "../../Style/variables.scss";

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 32px 0px;

  .product {
    mat-card {
      display: flex;
      flex-direction: column;
      min-height: 350px;
      width: 300px;
      margin: 20px;
      align-items: center;
      img {
        object-fit: contain;
        height: 200px;
      }
      button {
        margin-top: 20px;
        background-color: $btnPrimaryBackground;
        border: 1px solid;
        border-radius: 2px;
        border-color: $btnPrimaryBorder;
        cursor: pointer;
        height: 30px;
        padding: 0.5rem;
      }
    }
  }

  .price {
    font-size: 2rem;
  }
  p {
    margin-top: 6px;
  }
}
