.footer {
  background-color: #232f3e;
}
h2 {
  margin-top: 32px;
  color: white;
  font-weight: 500;
}
ul {
  padding-inline-start: 0px;
  li {
    list-style: none;
    padding: 6px 0px;
    color: white;

    cursor: pointer;
  }
}
