@import "../../Style/variables.scss";

.footer {
  background-color: $footerColorBackground;
  h2 {
    margin-top: 32px;
    color: $footerColor;
    font-weight: 500;
  }
  ul {
    padding-inline-start: 0px;
    li {
      list-style: none;
      padding: 6px 0px;
      color: $footerColor;

      cursor: pointer;
    }
  }
}
