<div class="footer" fxLayoutAlign="space-evenly start" fxLayout="row" fxLayout.xs="column">
    <div>
        <h2>Get to Know Us</h2>
        <ul>
            <li>Careers</li>
            <li>Blog</li>
            <li>About Amazon</li>
            <li>Investor Relations</li>
            <li>Amazon Devices</li>
        </ul>
    </div>
    <div>
        <h2>Make Money with Us</h2>
        <ul>
            <li>Sell products on Amazon</li>
            <li>Sell on Amazon Business</li>
            <li>Sell apps on Amazon</li>
            <li>Become an Affiliate</li>
            <li>Advertise Your Products</li>
            <li>Self-Publish with Us</li>
            <li>Host an Amazon Hub</li>
        </ul>
    </div>
    <div>
        <h2>Amazon Payment Products</h2>
        <ul>
            <li>Amazon Business Card</li>
            <li>Shop with Points</li>
            <li>Reload Your Balance</li>
            <li>Amazon Currency Converter</li>
        </ul>
    </div>
    <div>
        <h2>Let Us Help You</h2>
        <ul>
            <li>Amazon and COVID-19</li>
            <li>Your Account</li>
            <li>Your Orders</li>
            <li>Shipping Rates & Policies</li>
            <li>Returns & Replacements</li>
            <li>Manage Your Content and Devices</li>
            <li>Amazon Assistant</li>
            <li>Help</li>
        </ul>
    </div>
</div>