@import "../../Style/variables.scss";

.login {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 80px;
  .login_container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .login_logo {
      object-fit: contain;
      width: 100px;
      margin: 12px 20px 12px 2px;
    }
    .login_form {
      border: $loginFormBorder 1px;
      padding: 20px;
      width: 300px;
      h1 {
        font-weight: 500;
        margin-bottom: 20px;
      }
      form {
        h5 {
          margin-bottom: 5px;
          font-weight: 500;
        }
        input {
          height: 30px;
          margin-bottom: 10px;
          background-color: $loginInput;
          width: 97%;
        }
        .login_signIn_button {
          background-color: $btnPrimaryBackground;
          border: 1px solid;
          border-radius: 2px;
          width: 100%;
          height: 30px;
          color: $btnColor;
          border-color: $btnPrimaryBorder;
          cursor: pointer;
        }
        .login_create_button {
          border: 1px solid;
          border-radius: 2px;
          width: 100%;
          height: 30px;
          color: $btnColor;
          border-color: $btnSecondaryBorder;
          cursor: pointer;
        }
        .login_terms {
          margin-top: 12px;
          font-size: 12px;
        }
      }
    }
  }
}
