$headerColor: #0f1111;
$footerColor: #232f3e;

$btnPrimaryBackground: #f0c14b;
$btnPrimaryBorder: #a88134 #9c7e31 #846a29;
$btnSecondaryBackground: #efefef;
$btnSecondaryBorder: grey;

$productTextColor: #0066c0;
$inStockColor: #067d62;
