$headerColorBackground: #0f1111;
$headerColor: white;
$headerAccentIcon: #febd69;
$headerSearchbarIcon: black;
$headerTopText: lightgray;
$footerColorBackground: #232f3e;
$footerColor: white;

$btnPrimaryBackground: #f0c14b;
$btnPrimaryBorder: #a88134 #9c7e31 #846a29;
$btnSecondaryBackground: #efefef;
$btnSecondaryBorder: grey;

$subtotalBackground: #f3f3f3;
$subtotalBorder: #ddd;

$productTextColor: #0066c0;
$inStockColor: #067d62;
