<div class="checkout_products">
    <p class="price">Price</p>

    <div class="checkout_product" *ngFor="let p of checkout_products" fxLayout.xs="column">
        <div >
            <img fxFlex.xs="100%" src="{{p.image}}" class="checkout_product_img" alt="">
        </div>
        
        <div class="checkout_product_info">
            <p class="checkout_product_title">
                {{p.title}}
            </p>
           
            <p class="checkout_product_in_stock">In Stock</p>
            <div class="checkout_product_gift">
                <input type="checkbox">
                <label>This is a gift</label>
                <a routerLink="/" class="checkout_product_more">Learn more</a>
            </div>
            <div class="checkout_options">
               
                <a (click)="removeItem(p)">Delete |</a>
                <a href="#">Save for later </a>
                <a href="#">| Compare with similar items</a>
            </div>
        </div>
        <div class="checkout_products_price">
            <p fxLayoutAlign.xs="start"> <strong>${{p.price}}</strong> </p>
        </div>
    </div>
    
    <div class="checkout_products_subtotal">
        <p fxLayoutAlign.xs="center"> Subtotal ({{shopping_cart_service.getCartLength()}} items) : <strong>${{shopping_cart_service.getTotal()}}</strong></p>
    </div>
</div>
