@import "../../Style/variables.scss";

.checkout_products {
  margin: 0px 10px;
  .price {
    text-align: right;
  }
  .checkout_product {
    border-top: solid 1px $productCheckout;
    display: flex;
    padding: 24px 0px;
    .checkout_product_img {
      object-fit: contain;
      width: 190px;
      max-height: 250px;
      padding-right: 10px;
    }
    .checkout_product_info {
      padding-top: 10px;
      width: 100%;
      img {
        height: 20px;
        object-fit: contain;
      }
      .checkout_product_title {
        color: $productTextColor;
        font-size: 17px;
        font-weight: 700;
        line-height: 1.255;
      }
      .checkout_product_in_stock {
        color: $inStockColor;
        font-size: 12px;
        line-height: 1.5;
      }
      .checkout_product_gift {
        input {
          margin-right: 5px;
        }

        .checkout_product_more {
          text-decoration: none;
          margin-left: 5px;
          color: $productTextColor;
        }
      }
      .checkout_options {
        display: flex;
        flex-wrap: wrap;
        a {
          text-decoration: none;
          padding: 8px 8px 8px 0px;
          color: $productTextColor;
          height: 20px;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
    .checkout_products_price {
      margin-top: 12px;
      text-align: right;
      font-size: 17px;
      line-height: 1.255;
    }
  }
  .checkout_products_subtotal {
    margin-top: 20px;
    border-top: solid 1px $productCheckout;
    padding: 24px 0px;
    width: 100%;
    text-align: right;
    font-size: 17px;
    line-height: 1.255;
  }
}
